body {
	background-color: pink;
  font-family: helvetica;
}


#profile-container {
  width:960px;
  margin:20px auto;
}

#profile-header {
  text-align:center;
  background: #777;
  color:#fff;
  height:50px;
  padding:5px
}

#profile-bio {
  float:left;
  width:610px;
  text-align:center;
  height:100px;
  background:#ccc;
  padding:150px 5px
}

#profile-sidebar {
  float:right;
  width:330px;
  text-align:center;
  height:100px;
  background:#eee;
  padding:150px 5px
}

#profile-footer {
  clear:both;
  text-align:center;
  background: #555;
  color: red;
  font-weight: bold;
  height:50px;
  padding:5px
}
</style>
